<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: header">
    <title id="pageTitle">Error page</title>
</head>
<body th:with="httpStatus=${T(org.springframework.http.HttpStatus).valueOf(#response.status)}">
<header>
    <div th:include="fragments/header :: navbar"></div>
</header>
<div class="container-fluid">

    <div class="spacer"></div>
    <h1 th:text="|${httpStatus} - ${httpStatus.reasonPhrase}|">404</h1>
    <div class="spacer"></div>
    <p class="lead" th:text="${errorMessage}">Error java.lang.NullPointerException</p>
    <div class="spacer"></div>
    <a class="btn btn-primary" th:href="@{/}">Back to Home Page</a>
</div>
</body>
</html>