<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: header">
    <title id="pageTitle">Book detail</title>
</head>

<body>

<header>
    <div th:include="fragments/header :: navbar"></div>
</header>

<div class="spacer"></div>
<h3 th:text="#{book.detail.info}">Book</h3>
<div class="spacer"></div>
<table class="table">
    <thead>
    <tr>
        <th th:text="#{book.author}">AUTHOR</th>
        <th th:text="#{book.title}">TITLE</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${book.author}"></td>
        <td th:text="${book.title}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>