<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head th:include="fragments/head :: header">
    <title id="pageTitle">Book detail</title>
</head>

<body>

<header>
    <div th:include="fragments/header :: navbarbootstrap"></div>
</header>

<div class="container">
    <div class="spacer"></div>
    <div class="jumbotron">
        <h1 class="display-4" th:text="${book.title}"></h1>
        <p class="lead" th:text="${book.author}"></p>
        <hr class="my-4">
        <p th:text="${shortDescription}"></p>
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample" th:text="#{book.detail.button}">
                Button with data-target
            </button>
        </p>
    </div>


    <div class="collapse" id="collapseExample">
        <div class="card card-body" th:text="${book.summary}">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>

        <div class="spacer"></div>

        <h3 th:text="#{book.detail.info}">Book</h3>

        <div class="spacer"></div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{book.author}">AUTHOR</th>
                <th th:text="#{book.title}">TITLE</th>
                <th th:text="#{book.release}">RELEASE</th>
                <th th:text="#{library.name}">LIBRARY</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.publicationDate.getYear()}"></td>
                <td th:text="${library.name}"></td>
            </tr>
            </tbody>
        </table>
        <div class="spacer"></div>
        <table class="table">
            <thead>
            <tr>
                <th th:text="#{nav.language.label.caps}">LANGUAGE</th>
                <th th:text="#{book.topic}">TOPICS</th>
                <th sec:authorize="isAuthenticated()" th:text="#{book.status}">STATUS</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${language.name}"></td>
                <td>
                    <span th:each="topic :${topics}">
                        <span th:text="${topic.name}" class="badge badge-primary"></span>
                    </span>
                </td>
                <th sec:authorize="isAuthenticated()">
                    <div th:if="${book.quantity > 0}" th:text="#{book.is.available}" class="badge badge-info"></div>

                    <div sec:authorize="isAuthenticated()" th:if="${book.quantity <= 0}"
                         th:text="#{book.isnot.available}" class="badge badge-danger"></div>
                    <div th:if="${availableForBooking and !queueTooLong}" th:text="#{booking.bookable}"
                         class="badge badge-info"></div>
                    <div th:if="${availableForBooking and queueTooLong}" th:text="#{booking.booked}"
                         class="badge badge-danger"></div>
                </th>
            </tr>
            </tbody>
        </table>
        <div th:if="${availableForBooking}">
            <div class="spacer"></div>
            <h3 th:text="#{booking.detail.info}">BOOKING INFORMATION</h3>
            <div class="spacer"></div>
            <table class="table">
                <thead>
                <tr>
                    <th th:text="#{booking.next.return}">NEXT RETURN DATE</th>
                    <th th:text="#{booking.queue.size}">QUEUE SIZE</th>
                    <th th:if="${availableForBooking and !queueTooLong}" th:text="#{booking.action}">ACTION</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td th:text="${nextReturnDate}"></td>
                    <td th:text="${bookingQueue}"></td>
                    <td th:if="${availableForBooking and !queueTooLong}">
                        <button class="btn btn-primary" type="button" th:text="#{booking.perform}" th:href="@{/booking/perform_booking(bookId=${book.id})}">
                            PERFORM BOOKING
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <div class="spacer"></div>
        </div>
    </div>
</div>
</body>
</html>