<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: header">
    <title id="pageTitle">Book detail</title>
</head>

<body>

<header>
    <div th:include="fragments/header :: navbarbootstrap"></div>
</header>

<div class="container">
    <div class="spacer"></div>
    <div class="jumbotron">
        <h1 class="display-4" th:text="${book.title}"></h1>
        <p class="lead" th:text="${book.author}">This is a simple hero unit, a simple jumbotron-style component for
            calling extra attention to featured content or information.</p>
        <hr class="my-4">
        <p th:text="${book.summary}">It uses utility classes for typography and spacing to space content out within the
            larger container.</p>
        <p>
            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample"
                    aria-expanded="false" aria-controls="collapseExample" th:text="#{book.detail.button}">
                Button with data-target
            </button>
        </p>
    </div>


    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim
            keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
        </div>

        <div class="spacer"></div>

        <h3 th:text="#{book.detail.info}">Book</h3>

        <div class="spacer"></div>

        <table class="table">
            <thead>
            <tr>
                <th th:text="#{book.author}">AUTHOR</th>
                <th th:text="#{book.title}">TITLE</th>
                <th th:text="#{book.release}">RELEASE</th>
                <th th:text="#{book.title}">TITLE</th>
                <th th:text="#{book.title}">TITLE</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td th:text="${book.author}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.publicationDate.getYear()}"></td>
                <td th:text="${book.title}"></td>
                <td th:text="${book.title}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>