<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/head :: header">
    <title id="pageTitle">Advanced search</title>
</head>
<body>

<header>
    <div th:include="fragments/header :: navbar"></div>
</header>

<div class="container-fluid">
    <div class="spacer"></div>
    <h3>Search books</h3>
    <div class="spacer"></div>

    <div class="row">
        <div class="col-lg-3">
            <div>Filter</div>
        </div>
        <div class="col-lg">
            <div>
                <div class="lead" th:if="${books.isEmpty()}">No result match your search</div>
                <table class="table" th:unless="${books.isEmpty()}">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>AUTHOR</th>
                        <th>TITLE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="b:${books}">
                        <td th:text="${b.id}"></td>
                        <td th:text="${b.author}"></td>
                        <td><a th:href="@{get(id=${b.id})}" th:text="${b.title}"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <ul class="nav nav-pills">
                    <li class="nav-item" th:each="p,status:${pages}">
                        <a th:class="(${currentPage}==${status.index})?'nav-link active':'nav-link'"
                           th:href="@{filter(page=${status.index},size=${size},keyWord=${keyWord},languageId=${languageId}
                           ,libraryId=${libraryId},topicId=${topicId},available=${available})}"
                           th:text="${status.count}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>
</body>

</html>