<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Search</title>
    <link rel="stylesheet" type="text/css"
          th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container-fluid">
    <h3>Search books</h3>

    <div class="row">
        <div class="col-3">
            <form th:action="@{filter}" th:object="${formResult}">
                <input type="hidden" name="page" th:value="${currentPage}"/>
                <input type="hidden" name="size" th:value="${size}"/>
                <input type="hidden" name="keyWord" th:value="${keyWord}"/>
                <div class="form-group">
                    <select class="form-control" th:field="*{languageId}" id="Language">
                        <option value="-1">Select a language</option>
                        <option th:each="language : ${languages}" th:value="${language.id}"
                                th:text="${language.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" th:field="*{libraryId}" id="Library">
                        <option value="-1">Select a library</option>
                        <option th:each="library : ${libraries}" th:value="${library.id}"
                                th:text="${library.name}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" th:field="*{topicId}" id="Topic">
                        <option value="-1">Select a topic</option>
                        <option th:each="topic : ${topics}" th:value="${topic.id}" th:text="${topic.name}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
        <div class="col">
            <div>
                <table class="table">
                    <thead>
                    <tr>
                        <th>ID</th>
                        <th>AUTHOR</th>
                        <th>TITLE</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="b:${books}">
                        <td th:text="${b.id}"></td>
                        <td th:text="${b.author}"></td>
                        <td><a th:href="@{get(id=${b.id})}" th:text="${b.title}"></a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div>
                <ul class="nav nav-pills">
                    <li class="nav-item" th:each="p,status:${pages}">
                        <a th:class="(${currentPage}==${status.index})?'nav-link active':'nav-link'"
                           th:href="@{search(page=${status.index},size=${size}, keyWord=${keyWord})}"
                           th:text="${status.count}"></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>


</div>
</body>

</html>