<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <title>Navigation bar fragment</title>
</head>
<body>
<div th:fragment="navbarbootstrap">
    <nav class="navbar navbar-expand-md navbar-dark bg-primary">
        <a class="navbar-brand" th:href="@{/}" th:text="#{nav.brand}">Library</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li sec:authorize="hasRole('ROLE_USER')" class="nav-item active">
                    <a class="nav-link" th:href="@{/loan/my_loans}" th:text="#{nav.loans}">My loans</a>
                </li>
                <li sec:authorize="hasRole('ROLE_USER')" class="nav-item active">
                    <a class="nav-link" th:href="@{/perform_logout}" th:text="#{nav.logout}">Logout<span
                            class="sr-only">(current)</span></a>
                </li>
                <li sec:authorize="hasRole('ROLE_ANONYMOUS')" class="nav-item active">
                    <a class="nav-link" th:href="@{/login}" th:text="#{nav.login}">Login<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item active">
                    <div>
                        <select class="form-control" id="locales">
                            <option value=""></option>
                            <option value="US" th:text="US"></option>
                            <option value="FR" th:text="FR"></option>
                        </select>
                    </div>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0" th:action="@{/book/search}">
                <input class="form-control mr-sm-2" type="search" th:placeholder="#{nav.search.placeholder}"
                       aria-label="Search"
                       name="keyWord">
                <button class="btn btn-outline-light my-2 my-sm-0" type="submit" th:text="#{nav.search.button}">Go
                </button>
            </form>
        </div>
    </nav>
    <!-- BOOTSTRAP IMPORTS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>
    <!-- LANGUAGE SELECT BUTTON -->
    <script type="text/javascript">
        // $(document).ready(function () {
        //     $("#locales").change(function () {
        //         var selectedOption = $('#locales').val();
        //         if (selectedOption != '') {
        //             window.location.replace(+ '?lang=' + selectedOption);
        //         }
        //     });
        // });
        $(document).ready(function () {
            $("#locales").change(function () {
                var selectedOption = $('#locales').val();
                var url;
                if (selectedOption != '') {
                    if (document.location.href.indexOf('?') >= 0) {
                        if (document.location.href.search("lang=") >= 0) {
                            url = document.location.origin + "/?lang=" + selectedOption;
                        } else {
                            url = document.location.href + "&lang=" + selectedOption;
                        }
                    } else {
                        url = document.location.href + "?lang=" + selectedOption;
                    }
                    // document.location = url;
                    window.location.replace(url);
                }
            });
        });
    </script>
</div>
</body>
</html>