<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:include="fragments/head :: header">
    <title id="pageTitle">Consult loans</title>
</head>

<body>

<header>
    <div th:include="fragments/header :: navbarbootstrap"></div>
</header>

<div class="container-fluid">
    <div class="spacer"></div>
    <h3 th:text="#{loan.page.title}">My Loans</h3>
    <div class="spacer"></div>
    <!-- if no loan is active you don't display the table -->
    <div class="lead" th:if="${loans.isEmpty()}" th:text="#{loan.none}">You have not active loan at the moment</div>
    <table class="table" th:unless="${loans.isEmpty()}">
        <thead>
        <tr>
            <th th:text="#{book.author}">AUTHOR</th>
            <th th:text="#{book.title}">TITLE</th>
            <th th:text="#{loan.start}">START DATE</th>
            <th th:text="#{loan.end}">END DATE</th>
            <th th:text="#{loan.status}">STATUS</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="l:${loans}">
            <td th:text="${l.bookMinModel.author}"></td>
            <td th:text="${l.bookMinModel.title}"></td>
            <td th:text="${l.loanModel.loanStartDate}"></td>
            <td th:text="${l.loanModel.loanEndDate}"></td>
            <td>
                <div th:if="${l.loanModel.loanEndDate.isBefore(currentDate)}" class="badge badge-danger">Late</div>
                <div th:if="${!l.loanModel.closed}" class="badge badge-info">Active</div>
                <div th:if="${l.loanModel.extended}" class="badge badge-primary">Extended</div>

            </td>
            <td>
                <a th:if="${!l.loanModel.extended and !l.loanModel.loanEndDate.isBefore(currentDate)}" class="btn btn-primary"
                   th:href="@{/loan/extend(loanId=${l.loanModel.id})}">Extend
                </a>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>